# Common
.env
*.log
.vscode/
.idea/

# Node.js
node_modules/
dist/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.orig
*.db
*.sqlite3

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.tar.gz
.mvn/wrapper/maven-wrapper.jar

# Project Specific
backend/data/
backend/app/__pycache__/
backend/app/routers/__pycache__/
backend/app/schemas/__pycache__/
hs_err_pid*
replay_pid*
